@{
    ViewBag.Title = "Home Page";
}

<h1>Test page html</h1>
<p>test</p>
<form>
    <div>
        <label> Date </label>
        <input />
    </div>
    <div>
        <label> Location </label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>